    <div width="100%"
    style="background: #f8f8f8; padding: 0px 0px;  width: 100%; color: #514d6a;">
    <div style="max-width: 700px; margin: 0px auto; font-size: 14px">
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                    <tr>
                        <td class="content-block" style="padding: 10px 0;text-align: center; background-color: #102b57; " align="center">
                                <img src={{logo}} alt=""
                                    style="border:none; width: 138px; height: 46px;">
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block" style="margin-bottom: 15px">
                            <div style="font-size: 20px; margin-top: 40px; font-family:arial;font-weight:700;line-height: 1.5em; ">
                                <span style="font-weight:700; font-size: 24px">Welcome to Nest Js Project</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block" style="padding-top: 0px;">
                            <div style="font-size:small;font-family:arial;font-weight:700;line-height: 1.3rem;"><span
                                    style="font-weight:700;color: #777777">Follow this link to verify your account for </span><span style="color: #102b57; font-weight:700">Nest Js Project</span>.<br>
                                <span style="font-weight:700; color: #777777">If you have not requested for the account verification then, you
                                    can safely delete this email.</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block" style="text-align: center;">
                            <a href="{{verificationUrl}}" style="display: inline-block; padding: 15px 25px; margin: 40px 0px 30px; font-size: 15px;font-weight:700; color: #fbf7f3; 
                                    background: #102b57; border-radius: 5px; text-decoration:none;">Verify
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block"
                            style="border-top:1px solid #f6f6f6; padding-top:10px;padding-bottom:10px; color:#777">
                            <span style="font-weight:700; color: #777777">If you have any questions, reply to this email or
                                contact us at</span><br>
                            <a href="mailto:{{mailTo}}"
                                style="color: #102b57; font-weight:700; text-decoration:none;">{{mailTo}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>